

.Form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background: blue;
    background: #C6FFDD;  /* fallback for old browsers */
    /*background: -webkit-linear-gradient(to right, #f7797d, #FBD786, #C6FFDD);  /* Chrome 10-25, Safari 5.1-6 */ 
    background: linear-gradient(to right, #f7797d, #FBD786, #C6FFDD); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}

.form-container{
    background: #fff;
    border-radius: 20px;
    padding: 30px 80px;
    max-width: 800px;
    margin: 0 auto;
    /*box-shadow: 0 15px 16px .17px rgba(0,0,0,0.05);*/
}

.h1{
    text-align: center;
}
/*700*/
.badge2 {
    position: center;
    margin: auto;
  width: 50%;
  border: 3px solid rgb(0, 0, 0);
  border-radius: 12px;
  padding: 10px;
    border: 1px solid #a9a8c2;
    background: rgb(249, 255, 197);
    
    overflow-x: scroll;
  /* Control de la altura con base en el texto del div*/
  height: auto;
  word-wrap: break-word;
    overflow:hidden;
    
  
}
/* border-radius: 50%;   b*/
.badge3 {
    width: 230px;
    border: 3px solid rgb(255, 247, 179);
    border-radius: 12px;
    background: rgb(249, 255, 197);
    height: 135px;
}

.badge {
    background: rgb(249, 255, 197);
    width: 1364px;
    height: 536px;
}

.BadgeNew__hero {
    width: 100%;
    padding: 2rem 0;
    background: url('../../images/stars.svg'), #1B1B25;
    background-repeat: repeat;
    margin-bottom: 1rem;
   
  }

/*
.badge {
    background: #000000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5);
    border-radius: 8px 8px 8px 8px;
    overflow: hidden;
    height: 380px;
}
*/
.logoContainer {
    height: 30%;
    border:1px solid blue;
    justify-content: center;
    align-items: center;
    padding-top:4%;
}

.logoContainer2 {
    height: 30%;
    justify-content: center;
    align-items: center;
    padding-top:4%;
    margin-top:1em;
}

.logoStyles {
    height:300px;
    width:300px; 
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.buttonContainer{ 
    text-align: center;
    border:1px solid red;
   
}

.buttonContainer2{ 
    text-align: center;
}

.lema{ 
    position: absolute;
    width: 327.89px;
    height: 44.35px;
    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 56px;
    text-align: center;
    
    color: #FFFFFF;
   
}

.texto2{ 
    white-space: pre;
  

    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 5px;
    text-align: left;
    
    color: #000000;  
}

.texto3{ 
    white-space: pre;

    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 5px;
    text-align: left;
    
    color: #000000;  
}

.texto{ 
    white-space: pre;
    font-family: Gabriela;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 5px;

    
    color: #000000;
   
}

.formButton{
    align-items: center;
    position: center;
    display: inline-block;
    border: 3px solid rgb(198, 243, 173);
    border-radius: 12px;
    background-color: rgb(198, 243, 173);
    color: rgb(0, 0, 0);
    text-align: center;
    text-decoration:  none;
    padding: 15px 32px;
    font-size:  16px;
    
}

.button{
    align-items: center;
    margin: auto;
  
    padding: 10px;
}
/* Poner aquí el diseño del botón al pasar por encima con el mouse*/

